{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><img src="{{ asset('vendor/octicons/repo.svg') }}"/> Repositories</li>
            </ol>
        </nav>

        <table class="table table-sm">
            <thead class="thead-light">
            <tr>
                <th class="col-md-1">Id</th>
                <th class="col-md-1">Pushed At</th>
                <th class="col-md-5">Name</th>
                <th class="col-md-2"># Commits Ahead</th>
                <th class="col-md-2"># Pull Requests</th>
            </tr>
            </thead>
            <tbody>
            {% for repository in repositories %}
                <tr>
                    <td>
                        <a href="{{ repository.htmlUrl }}">{{ repository.id }}</a>
                    </td>
                    <td>{{ repository.pushedAt|date('Y-m-d') }}</td>
                    <td>{{ repository.fullName }}</td>
                    <td>
                        <a href="./repositoryCommitCompares/{{ repository.id }}">{{ repository.commitsAheadBy }}</a>
                    </td>
                    <td>
                        <a href="./pullRequests?repositoryId={{ repository.id }}">{{ repository.openedPullRequests }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
