{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('./build/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('./build/css/app.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Repositories</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Full name</th>
                <th scope="col">Pushed at</th>
                <th scope="col">Commits ahead by</th>
                <th scope="col">Opened pull requests</th>
            </tr>
            </thead>
            <tbody>
            {% for repository in repositories %}
                <tr>
                    <td>{{ repository.fullName }}</td>
                    <td>{{ repository.pushedAt|date('Y-m-d H:i:s') }}</td>
                    <td><a href="./repositoryCommitCompares/{{ repository.id }}">{{ repository.commitsAheadBy }}</a></td>
                    <td><a href="./pullRequests?repositoryId={{ repository.id }}">{{ repository.openedPullRequests }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
