{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><img src="{{ asset('vendor/octicons/repo.svg') }}"/> Repositories</a></li>
                <li class="breadcrumb-item"><img src="{{ asset('vendor/octicons/git-pull-request.svg') }}"/> Pull Requests for {{ repository.fullName }}</li>
            </ol>
        </nav>

        <table class="table table-sm">
            <thead class="thead-light">
            <tr>
                <th class="col-md-1">Id</th>
                <th class="col-md-1">Updated At</th>
                <th class="col-md-2">Author</th>
                <th class="col-md-8">Title</th>
            </tr>
            </thead>
            <tbody>
            {% for pull_request in pull_requests %}
                <tr>
                    <td>{{ pull_request.id }}</td>
                    <td>{{ pull_request.updatedAt.date|date('Y-m-d') }}</td>
                    <td>{{ pull_request.userLogin }}</td>
                    <td>{{ pull_request.title }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
