{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/"><img src="{{ asset('vendor/octicons/repo.svg') }}"/> Repositories</a></li>
                <li class="breadcrumb-item"><img src="{{ asset('vendor/octicons/git-commit.svg') }}"/> Commits Ahead for {{ repository.fullName }}</li>
            </ol>
        </nav>

        <table class="table table-sm">
            <thead class="thead-light">
            <tr>
                <th class="col-md-1">SHA</th>
                <th class="col-md-1">Date</th>
                <th class="col-md-2">Author</th>
                <th class="col-md-7">Message</th>
            </tr>
            </thead>
            <tbody>
            {% for commit in repository_commit_compare.commits %}
                <tr>
                    <td>{{ commit.sha|slice(0, 7) }}</td>
                    <td>{{ commit.commit.author.date|date('Y-m-d') }}</td>
                    <td>{{ commit.author.login|default('null') }}</td>
                    <td>{{ commit.commit.message }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
